body {
	overflow-x: hidden;
}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}

@font-face {
	font-family: "FontAwesome";
	font-weight: normal;
	font-style: normal;
	src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
	src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

#customersLink::before {
	content: "\f0c0";
}

#servicesLink::before {
	content: "\f085";
}

#carsLink::before {
	content: "\f1b9";
}

#dashboardLink::before {
	content: "\f015";
}

#newEventLink::before {
	content: "\f271";

}

#menu-toggle::before {
	content: "\f142";
}

#emailPageLink::before {
	content: "\f0e0";
}

#menu-toggle::before,
#newEventLink::before,
#dashboardLink::before,
#carsLink::before,
#servicesLink::before,
#customersLink::before,
#emailPageLink::before {
	display: block;
	font-family: FontAwesome;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 6px 0 0;
}

.current {
	background-color: #1fcdeb;
	font-size: 18px;
}